<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deduction.db.mappers.KnownFactsMapper">

    <insert id="insert" parameterType="deduction.db.dto.KnownFactsDTO">
        INSERT INTO knownfacts (model_id, fact) VALUES(#{model_id}, #{fact})
    </insert>

    <select id="getKnownFacts" parameterType="java.lang.String" resultType="java.lang.String">
        select fact from knownfacts join model on knownfacts.model_id = model.id where model.name = #{name};
    </select>

    <delete id="deleteKnownFacts" parameterType="java.lang.String">
        DELETE FROM knownfacts using model where knownfacts.model_id = model.id and model.name = #{name};
    </delete>

</mapper>

