<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="red.deduction.db.mappers.ModelMapper">

    <insert id="insert" parameterType="red.deduction.db.dto.ModelDTO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
      INSERT INTO model (name) VALUES(#{name})
    </insert>

    <delete id="deleteModel" parameterType="java.lang.String">
        DELETE FROM model WHERE name=#{name}
    </delete>


</mapper>
