<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deduction.db.mappers.ModelMapper">

    <insert id="insertNameInModel" parameterType="java.lang.String">
      INSERT INTO model (name) VALUES(#{name})
    </insert>

    <select id="getModelId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id from model where name=#{name}
    </select>

    <delete id="deleteModel" parameterType="java.lang.String">
        DELETE FROM model WHERE name=#{name}
    </delete>

    <select id="checkExistModel" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(id) FROM model where name = #{name}
    </select>


</mapper>
