<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Confi 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="localCacheScope" value="STATEMENT"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <mappers>
        <mapper resource="red/deduction/db/mappers/ExpressionDbMapper.xml"/>
        <mapper resource="red/deduction/db/mappers/KnownFactsMapper.xml"/>
        <mapper resource="red/deduction/db/mappers/ModelDbMapper.xml"/>
        <mapper resource="red/deduction/db/mappers/RulesDbMapper.xml"/>
    </mappers>

</configuration>
