<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deduction.db.RuleDBMapper">

    <insert id="insertRootFact" parameterType="deduction.db.domains.RuleDB" >
        INSERT INTO rule (ref_rules, element_num, parent_id, fact, node) VALUES(#{ref_rules}, 1, null, #{fact}, null)
    </insert>

    <insert id="insertFact" parameterType="deduction.db.domains.RuleDB" >
        INSERT INTO rule (ref_rules, element_num, parent_id, fact, node) VALUES(#{ref_rules}, #{element_num}, #{parent_id}, #{fact}, null)
    </insert>

    <insert id="insertNode" parameterType="deduction.db.domains.RuleDB" >
        INSERT INTO rule (ref_rules, element_num, parent_id, fact, node) VALUES(#{ref_rules}, #{element_num}, #{parent_id}, null, #{node})
    </insert>

</mapper>


