<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deduction.dto.TypeOfExpressionDTOMapper">

    <select id="getIdByType" parameterType="java.lang.String" resultType="deduction.dto.domains.TypeOfExpressionDTO">
        SELECT id, type FROM type_of_expression
    </select>


</mapper>
